.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__container{
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg, var(--PrimaryOrange) 32%, var(--White) 100%);
    padding: 5rem 0 3rem 0;

    display: flex;
    justify-content: space-evenly;
}