.container{
    font-size: 120px;
    width: 80vw;
    height: 50vh;
    background-image: url('/cancha.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-top: 10px;
}

.overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: var(--White);
    box-shadow: 0 0 10px 5px var(--White);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    padding-left: .25em;
}