.container{
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, var(--PrimaryOrange) 43%, var(--White) 100%);

    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        width: 30rem;
    }
}

.name__container{
    h1{
        margin: 0;
        text-transform: uppercase;
        font-size: 6rem;
        color: var(--White);
    }
    h2{
        display: inline-block;
        padding: 1rem 1.5rem;
        color: var(--White);
        background-color: var(--SecundaryOrange);
        border-radius: 15px;
        font-size: 1.2rem;
    }
}